button{
    display: inline-block;
    height: 7rem;
    width : 7rem;
    background-color: white;
    font-size: 3em; /* Adjust font size for button text */
    text-align: center; /* Center align text within button */
    vertical-align: top; /* Align buttons properly in a row. This line actually SOLVED THE PROBLEM OF BOX COMING DOWN ON ENTERING A TEXT
    So this line is very important : vertical-align : top; */
}
button:active{
    background-color: black;
    color : white;
}
/* .gameButtons0{
    border : 0.1em solid black;
    position: relative;
    left : 1.1%;
} */
#button1, #button4, #button7{
 position: relative;
 left : 0.25rem;
 }
 #button0, #button3, #button6{
  position: relative;
  left : 0.5rem;
  border-left : none;
 }
 #button2, #button5, #button8{
    border-right : none;
   }
 #button0, #button1, #button2{
  border-top : none;
 }
 #button6, #button7, #button8
 {
    border-bottom : none;
 }
#abs{
    height : 7rem;
    width : 7rem;
    background-image: url(360_F_16362823_JyBzUKqSQHzfT5c64vRYVbGrvAKpyHb7.webp);
    background-size: cover;
    display: none;
    position : relative;
    box-shadow : 5px 5px 10px black;
    left : 7.25rem;
    bottom : 14rem;
    z-index: 2;
}
#abs:active{
    box-shadow:2px 2px 7.5px black;
}
body 
{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default body margin */
}
div{
    z-index: 1;
    height : 23rem;
    width : 23rem;
}
h2{
    text-align: center;
}